.ShopContainer {
  width: 90%;
  margin: 30px auto;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  h1 {
    color: #3c0c24;
    padding: 10px 20px;
    text-align: center;
  }
  .ItemsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 20px 0;
  }
  p {
    color: gray;
    font-size: 14px;
    font-style: italic;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) {
  .ShopContainer {
    max-width: 900px;
    margin: 20px auto;
  }
}

/*
  #3c0c24
  #9e052b
  #0892ff
  #e0ebf6
  #fffbf4
*/