.validate {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 0;
  width: 85%;

  h2 {
    margin: 0 auto 15px;
  }

  p {
    text-align: center;

    a {
      color: #0892ff;
    }
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .information {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0;

      img {
        margin: 0;
        padding: 0;
      }

      p {
        margin: 20px auto;
        padding: 0;
        text-align: justify;
      }
    }

    .inputContainer {
      align-items: center;
      border-radius: 6px 6px 10px 10px;
      border: 2px solid #9e052b;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 30px 0;
      width: 100%;

      span {
        background: #9e052b;
        border-color: #9e052b;
        border-radius: 2px 2px 0 0;
        color: white;
        padding: 10px 0;
        text-align: center;
        width: 100%;
      }

      input {
        margin: 20px;
        padding: 10px;
        font-size: 18px;
      }

      a {
        background-color: #0892ff;
        border-radius: 15px;
        border: none;
        color: #fffbf4;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 10px 25px;
        cursor: pointer;

        &:active {
          transform: scale(.9);
          transition: .2s;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .validate {
    max-width: 864px;

    .container {
      .information {
        flex-direction: row;
      }

      .inputContainer {
        width: 50%;
        max-width: 500px;
      }
    }
  }
}

/*
  #3c0c24
  #9e052b
  #0892ff
  #e0ebf6
  #fffbf4

*/