.nav {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: #540b13;
  font-family: 'Roboto', sans-serif;
  a {
    color: white;
    padding: 10px;
  }
}
